html, body {
    margin: 0;
     padding: 0;
     height:100%;
     background-color: rgb(172, 56, 56)
}

div{
     
    border: 1px solid #f00;


}

.tabela {
background-color: rgb(159, 161, 163);
border: 5px double rgb(0, 0, 0) ;
border-radius: 25%;
font-size: 50px;
}