html, body {
    margin: 0; // margens;
     padding: 0; //preenchimento;
     height:100%; //altura da janela;
     background-color: rgb(172, 56, 56); //cor de fundo;
}
//estilos aos elementos;
div{ 
     
    border: 1px solid #f00; //bordas


}

.tabela {
background-color: rgb(159, 161, 163);
border: 5px double rgb(0, 0, 0) ;
border-radius: 25%; //arredondamento das bordas;
font-size: 50px; // tamanho da fonte;
}
